@charset "utf-8";
/*CSS document*/

.hidden
{
	display: none;
}
#siteContainer 
{
	margin: 0 auto;
/*	width: 1400px;*/
	padding-left: 20px;
	padding-right: 20px;
	background-image: url(../images/Index-King_Lure-Complete.jpg);
}